@charset "utf-8";
/* CSS Document */

header {
	background-color: #FFF;
	opacity: 0.8;
}

header ul {
	opacity:1;
}

main {
	padding-top: 60px;
}

.work_work_container {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin-right: -35px;
}

.work_work_item {
	width:290px;
	margin-right: 35px;
	margin-bottom: 50px;
}

.work_work_container a {
	text-decoration: none;
	color: #000;
}

.work_work_item:hover {
	position: relative;
	top:-5px;
}

.work_work_item img {
	width: 100%;
}


.work_work_item dt {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
